/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #333333;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

/* ----------------------header------------------------------ */
.header {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  border-bottom: 1px solid #EFF5FB;
}

.header__container {
  display: flex;
  min-height: 76px;
  align-items: center;
}

.header__logo {
  margin-right: 20px;
  min-width: 3vw;
  width: 100%;
  height: auto;
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-left: 30px;
}

.menu__item:last-child {
  margin-left: 55px;
}

.menu__link {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 114%;
  letter-spacing: 0.25px;
  white-space: nowrap;
}

.header .header__container .header__menu .menu__list li.submenu {
  position: relative;
  display: inline-block;
}

.header .header__container .header__menu .menu__list li.submenu:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 25px;
  color: #333333;
  position: absolute;
  right: -25px;
  top: -4px;
  cursor: pointer;
}


.header__button {
  margin-left: 164px;
  padding: 14px 20px;
  text-align: center;
  border: none;
  border-radius: 4px;
  background: #E3F5F5;
  color: #03B2A5;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}

._burger-container {
  display: none;
}

.header__burger {
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}

.header__burger::before,
.header__burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #03B2A5;
}

.header__burger::before {
  top: 0;
  box-shadow: 0 11px 0 #03B2A5;
}

.header__burger::after {
  bottom: 0;
}

.header__burger:hover {
  cursor: pointer;
}



/* -------------------------page----------------------------------- */

.page__main-block {
  position: relative;
}

.page__background-vector {
  position: absolute;
  top: 325px;
  left: 0px;
  width: 100%;
  min-height: 672px;
  background-image: url("/images/svg/articles_background.svg");
  z-index: -1;
}

/* ----------------------main-block--------------------------------- */
.main-block__container {}

._container {}

.main-block__body {}

.main-block__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

h1.main-block__title {
  color: #333;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

/* ------breadcrump------ */
.main-block__breadcrumblist {
  list-style: none;
  margin: 16px auto 30px 6px;
}

.main-block__breadcrumblink:first-child {
  position: relative;
  margin-right: 28px;
}

.main-block__breadcrumblink:first-child::after {
  position: absolute;
  color: rgba(51, 51, 51, 0.70);
  font-size: 25px;
  top: -2px;
  right: -10px;
  content: "\203A";
}

.main-block__breadcrumblink {
  display: inline-block;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.main-block__breadcrumblink a {
  color: rgba(51, 51, 51, 0.70);
}

/* -----------------end breadcrumb---------- */
/* -----------------tagmenu------------------ */
.main-block__tagmenulist {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 32px;
}

.main-block__taglink {
  display: flex;
  padding: 6px 8px;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: 24px;
  border: 1px solid #C1C5CD;
}

.main-block__taglink:not(:last-child) {
  margin-right: 8px;
}

.main-block__taglink-text {
  color: #333;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  font-family: Montserrat;
  font-size: 14px;
}

/* --------------end tagmenu---------- */
/* --------------articles------------- */
.main-block__articles {
  margin-top: 23px;
}

.main-block__bigarticles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}


.main__block__article-description_firstarticle {
  padding: 16px 31px 16px 16px;

}

.main__block__article-description_secondarticle {
  padding: 16px;
}


.main-block__smallarticles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5em;
  margin-top: 23px;
}

.main-block__article {
  border: 1px solid #DEDEDE;
  border-radius: 16px;
  box-sizing: content-box;
}

.main-block__article-images {
  position: relative;
}

.main-block__articleimage {}

.main-block__articleimg {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.main-block__taglink_articletagimage {
  position: absolute;
  background: rgba(255, 255, 255, 0.70);
}

.main-block__taglink_assessment {
  top: 8px;
  left: 8px;
}

.main-block__taglink_secondelement {
  top: 48px;
  left: 8px;
}

.main-block__taglink {}

.main-block__taglink-text {
  color: #333;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 142.8%;
}

.main__block__article-description {
  padding: 16px;
}

.main-block__article-title {
  color: #333;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 144.4%;
}

.main-block__article-author {
  color: #494949;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.25px;
  margin-top: 4px;
}

.main-block__article-descr {
  color: #333;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.85%;
  margin-top: 8px;
}

.main-block__article-date {
  display: block;
  color: #868686;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.25px;
  margin-top: 24px;
}

span.main-block__article-date_spannumber1 {
  margin-top: 68px;
}

span.main-block__article-date_spannumber2 {
  margin-top: 94px;
}

span.main-block__article-date_span6 {
  margin-top: 20px;
}

/* ----------------------end articles------------------------------ */
.main__block-btn {
  margin-top: 56px;
  text-align: center;
}

.main__block-button {
  text-align: center;
  width: 182px;
  padding: 12px 16px;
  border-radius: 4px;
  background: #35B3A9;
  color: #FFF;
}

/* -------------------------footer--------------------------------- */
.footer {
  background: #2963A3;
  margin-top: 96px;
}

.footer__top {}

.footer__main {}

.footer__column {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px 24px 0px;
  color: #FFF;
  border-bottom: 1px solid rgb(157, 157, 157, 0.3);
}

.footer__menu {}

.menu-footer {}

.menu-footer__list {}

.menu-footer__item:not(:last-child) {
  margin-bottom: 16px;
}

.menu-footer__link {
  color: #FFF;
}

.footer__subscribe {}

.subscribe {
  max-width: 40%;
}

.subscribe__label {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 144.4%;
}

.subscribe__form {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid rgba(157, 157, 157, 0.20);
  background: #FFF;
}

.subscribe__input {
  flex: 1 1 auto;
  min-height: 48px;
  padding: 14px 52px 14px 16px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.86%;
  color: #000;
}

.subscribe__button {
  min-height: 48px;
  padding: 14px 20px;
  border-radius: 4px;
  background: #16C8BB;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subscibe__img {}

.subscribe__description {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.25px;
  opacity: 0.7;
}

.footer__social {}

.members {}

.members__image {}

.social {
  margin-top: 40px;
}

.social__image:not(:last-child) {
  display: inline-block;
  margin-right: 16px;
}


.footer__bottom {}

.footer__bottommenu {}

.menu-bottom {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.8%;
}

.menu-bottom__list {
  display: flex;
  justify-content: flex-start;
}

.menu-bottom__item {
  padding-top: 16px;
  padding-bottom: 17px;
  margin-right: 48px;
}

.menu-bottom__item:last-child {
  margin-right: 0;
}

.menu-bottom__link {
  color: #FFF;
  opacity: 0.7;
}

/* -------------------------technical class------------------------ */
._hidden {
  display: none;
}

/* -------------------------@media--------------------------------- */
@media only screen and (min-width: 1025px) {}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  ._container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: content-box;
  }

  .menu__item {
    margin-left: 16px;
  }

  .menu__item:last-child {
    margin-left: 37px;
  }

  .header__button {
    margin-left: 16px;
  }

  .main-block__breadcrumblist {
    margin: 16px auto 30px 0px;
  }

  .main-block__taglink {
    margin-bottom: 8px;
  }

  .main-block__bigarticles {
    gap: 1.5em;
  }

  .main-block__articleimg {
    display: block;
    width: 100%;
    height: auto;
  }

  .main-block__smallarticles_small {
    max-height: 458px;
  }


  .main-block__article-date {
    white-space: nowrap;
  }

  span.main-block__article-date_spannumber1 {
    margin-top: 88px;
  }

  .main-block__article-date_spannumber3 {
    margin-top: 12px;
  }

  .main-block__article-date_spannumber5 {
    margin-top: 50px;
  }

  .main-block__article-date_spannumber6 {
    margin-top: 12px;
  }

  .main-block__article-date_spannumber8 {
    margin-top: 50px;
  }


  ._nothidden {
    display: none;
  }

  ._hidden {
    display: block;
  }

  .page__background-vector {
    display: none;
  }

  .main__block-btn {
    margin-top: 35px;
  }

  .footer {
    margin-top: 60px;
  }
}

@media(min-width:415px) and (max-width:768px) {

  .header__menu,
  .header__button {
    display: none;
  }

  ._burger-container {
    display: block;
    margin-left: 80%;
  }

  .main-block__taglink {
    margin-top: 5px;
  }

  .main-block__bigarticles {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .main-block__smallarticles {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .main-block__articleimg {
    display: block;
    width: 100%;
  }

  span.main-block__article-date_spannumber1 {
    margin-top: 88px;
  }

  .main-block__article-date_spannumber3 {
    margin-top: 12px;
  }

  .main-block__article-date_spannumber4 {
    margin-top: 30px;
  }

  .main-block__article-date_spannumber5 {
    margin-top: 50px;
  }

  .main-block__article-date_spannumber6 {
    margin-top: 18px;
  }

  .main-block__article-date_spannumber7 {
    margin-top: 30px;
  }

  .main-block__article-date_spannumber8 {
    margin-top: 50px;
  }

  .main__block-btn {
    margin-top: 33px;
  }

  .page__background-vector {
    display: none;
  }

  .main__block-btn {
    margin-top: 33px;
  }

  .footer {
    margin-top: 55px;
  }

  .main__block-btn {
    margin-top: 33px;
  }

  .footer__column {
    flex-wrap: wrap;
    padding: 40px 0px 0px 0px;
  }

  .subscribe {
    max-width: 45%;
  }

  .footer__social {
    margin-top: 26px;
    padding-bottom: 26px;
  }
}

.footer__bottom {}

.footer__container {}

._container {}

.footer__bottommenu {}

.menu-bottom {}

.menu-bottom__list {}

.menu-bottom__item {}

.menu-bottom__link {}

/* @media (min-width:768px) and (max-width:1220px) {
  .menu__list {
    flex-wrap: wrap;
  }

  .main-block__taglink {
    margin-top: 5px;
  }

  .main-block__articleimg {
    display: block;
    width: 100%;
  }

  .main-block__bigarticles {
    flex-wrap: wrap;
  }

  .main-block__smallarticles {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
} */